<div class="container">
    <div class="row mt-5">
        <div class="title text-center">
            <h1>Kullanıcı İşlemleri</h1>
        </div>
        <div class="content">
            <div class="d-flex justify-content-end mb-2">
                <button class="btn-primary mr-2" data-bs-toggle="modal" data-bs-target="#myModal">Kullanıcı Ekle</button>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Adı Soyadı</th>
                            <th scope="col">Tel.No</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Durum</th>
                            <th scope="col">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                        <tr>
                            <th scope="row">{{this.id}}</th>
                            <td>{{this.name}} {{this.surname}}</td>
                            <td> {{this.phone_number}} </td>
                            <td> {{this.role}} </td>
                            <td> {{this.status}} </td>
                            <td>john.doe@example.com</td>
                            <td>
                                <span style="margin-right: 10px;">
                                    <a href="/user/admin/detail/{{this.id}}" class="text-success">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </span>
                                <span class="ml-2">
                                    <a href="/user/admin/delete/{{this.id}}" class="text-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-lg" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="/user/admin/add" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Kullanıcı Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control mb-3" placeholder="Adı" name="name" autocomplete="off">
                        </div>
                                                <div class="col">
                            <input type="text" class="form-control mb-3" placeholder="Soyadı" name="surname" autocomplete="off">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control mb-3" placeholder="Telefon Numarası" name="phone_number" autocomplete="off">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control mb-3" placeholder="Mail Adresi" name="email" autocomplete="off">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control mb-3" placeholder="Şifre" name="password" autocomplete="off">
                        </div>
                        <div class="col">
                            <select name="role" id="" class="form-select form-control mb-3" >
                                <option value="user">Şoför</option>
                                <option value="admin">Yönetici</option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control mb-3" placeholder="T.C Numaraso" name="identity_no" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-primary">Kullanıcı Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>