<div class="container">
    <div class="row">
        <div class="title text-center">
            <h1>
                İş Detayları & Güncelleme
            </h1>
        </div>
        <div class="card p-4 shadow ">
            <div class="card-body">
                <form action="">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control mb-3" value="{{work.data.title}}" name="name"
                                autocomplete="off">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <textarea name="description" class="form-control mb-3" id="" cols="30"
                                rows="5">{{work.data.description}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control mb-3" value="{{work.data.from_where}}"
                                name="from_where">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control mb-3" value="{{work.data.where}}" name="where">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control mb-3" value="{{work.data.airport_number}}"
                                name="airport_number">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control mb-3" value="{{work.data.tour}}" name="tour">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control mb-3" value="{{work.data.price}}" name="price">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control mb-3" value="{{work.data.person}}" name="person">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <textarea class="form-control md-3" value="{{work.data.note}}"
                                name="note">{{work.data.note}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center mt-2">
                            <a href="" class="btn btn-success">Güncelle</a>
                            <a href="/user/admin/delete/{{user.data.id}}" class="btn btn-danger">Sil</a>
                        </div>
                    </div>
                </form>


                <div class="card-footer mt-4">
                    <div class="title text-center">
                        <h3>
                            Başvurular
                        </h3>
                    </div>
                    <div class="content">
                        <table class="table table-sm shadow border">
                            <thead>
                                <tr>
                                    <th class="p-3" scope="col">Adı Soyadı</th>
                                    <th class="p-3" scope="col">Telefon Numarası</th>
                                    <th class="p-3" scope="col">Mail Adresi</th>
                                    <th class="p-3 text-center" scope="col">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each users}}
                                <tr>
                                    <td class="p-3"> {{this.name}} {{this.surname}} </td>
                                    <td class="p-3"> {{this.phone_number}} </td>
                                    <td class="p-3" > {{this.email}} </td>
                                    <td class="text-center p-3">
                                        <a class="btn btn-success btn-sm" href="/work/admin/apporeved/{{../work.data.id}}/{{this.id}}"><i class="fas fa-check" style="margin-right: 10px;" ></i>Onayla</a>
                                        <a class="btn btn-warning btn-sm" href=""><i class="fas fa-eye" style="margin-right: 10px;" ></i>Görüntüle</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>