<div class="container">
    <div class="row mt-4">
        <form action="/work/search" method="post">
            <div class="search_bar">
                <div class="input-group mb-3 border">
                    <input type="text" class="form-control" placeholder="Aramak istediğiniz kelime"
                        aria-label="Recipient's username" aria-describedby="button-addon2" name="keyword"
                        autocomplete="off">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fas fa-search"
                            style="margin-right: 10px;"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="container mt-5">
            <div class="row">
                {{#each items}}
                <div class="col-md-6 mb-4 clearfix">
                    <div class="card text-center shadow">
                        <div class="card-header" style="font-weight: 900;">
                            <div class="card-header"
                                style="font-weight: 900; display: flex; justify-content: space-between;">
                                <div class="location" style="display: flex; align-items: center;">
                                    <span><i class="fas fa-location-arrow"
                                            style="margin-right: 10px;"></i>Nereden:</span>
                                    <span class="text-uppercase">{{this.from_where}}</span> &nbsp; &nbsp;
                                    <span><i class="fas fa-plane-departure"
                                            style="margin-right: 10px;"></i>Nereye:</span>
                                    <span class="text-uppercase">{{this.where}}</span>
                                </div>
                                <div class="price">
                                    {{this.price}} ₺
                                </div>
                            </div>


                            <div class="card-body">
                                <h5 class="card-title">{{this.title}}</h5>
                                <p class="card-text">{{this.description}}
                                </p>
                                <a href="/work/application/{{this.id}}" class="btn btn-primary">İşe Başvur</a>
                            </div>
                            <div class="card-footer text-muted">
                                {{this.create_at}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>